<IfModule mod_rewrite.c>
   RewriteEngine 	on
   # the block below makes it work on godaddy hosting
   RewriteBase		/loffelmacher.com
   RewriteCond 		%{HTTP_HOST} ^loffelmacher.com$
   RewriteRule    	^$ app/webroot/    [L]
   RewriteCond 		%{HTTP_HOST} ^loffelmacher.com$
   RewriteRule    	(.*) app/webroot/$1 [L]
</IfModule>
